.row{
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
}
.Box, .Box2, .Box3{
	width: 100px;
	height: 100px;
}
.Box{
	background-color: green;
}
.Box2{
	background-color: red;
}
.Box3{
	background-color: blue;
}
/* Your CSS Code here. */